<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clique: Powerful Contact Conversion</title>
    <link rel='stylesheet' href='/styles.css'>
  </head>
  <body>
    <main>
      <h1>CLIQUE</h1>
      <button class ='login' href= '/login' type="button" name="LogIn"><a href='/login'>Login / Create Account</a></button>
      <button class='linkedin' type="button" name="linkedin">Share on Linkedin</button>
    </main>
    <footer>
      <small>&#169 2017 CLIQUEg64</small>
    </footer>
  </body>
</html>
