<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clique: Powerful Contact Conversion</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" href="/styles.css">
    <link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!--<![endif]-->
    <!--[if lte IE 9]>
    <link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork-core.css">
    <link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork-type.css">
    <link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork-ui.css">
    <link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork-anim.css">
    <link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork-ie.css">
    <![endif]-->
  </head>
  <body>
    <main>
      <div class="row double-padded">
        <a href="/"><img src="images/clique-logo-square.png"></a>
      </div>
      <div class="row padded">
        <a href="/login" class="button blue large">Login / Create Account</a>
      </div>
      <div class="row padded">
        <a href="#" class="button white small">Share on <i class="icon-linkedin-sign"></i> LinkedIn</a>
      </div>
    </main>
    <footer>
      <div class="row"><small>	&copy; 2017 Clique. g64. All Rights Reserved.</small>
      </div>
    </footer>
    <script type="text/javascript" src="https://groundworkcss.github.io/groundwork/js/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://groundworkcss.github.io/groundwork/js/groundwork.all.js"></script>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
