<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Clique - Log In Now</title>
		<link rel='stylesheet' href='/styles.css'>
	</head>
	<body>
		<header>
			<!-- insert logo here -->
		</header>
		<section class="sidexside">
			<!-- container to allow flexing of the create/login sections of the page -->
			<div class="create">
				<!-- forms in this div are related to creating an account -->
				<form method="post" action="/users">
				<input type="email" name="email" placeholder="Email">
				<input type="text" name="company" placeholder="Company">
				<input type="text" name="name" placeholder="Name">
				<input type="text" name="position" placeholder="Position">
				<input type="text" name="skills" placeholder="Skills">
				<button name="cSubmit"> CREATE AN ACCOUNT </button>
			</form>
			</div>
			<div class="myLogin">
				<!-- forms in this div are related to logging in -->
				<form class="code" action="/" method="post">
				<input type="text" name="lEmail" placeholder="Enter Email">
				<input type="text" name="code" placeholder="Enter Code">
				<button name="lSubmit">LOGIN</button>
			</form>
			</div>
		</section>
<footer> &copy Clique 2017 </footer>
	</body>
</html>
