<!DOCTYPE html>
<html>
		<head>
		<meta charset="utf-8">
		<title>Clique - Log In Now</title>
		<link rel="icon" type="image/png" href="images/favicon.ico">
		<link rel="stylesheet" href="/styles.css">
		<!-- <link rel='stylesheet' href="/login.css"> -->
		<link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<!--<![endif]-->
		<!--[if lte IE 9]>
		<link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork-core.css">
		<link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork-type.css">
		<link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork-ui.css">
		<link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork-anim.css">
		<link type="text/css" rel="stylesheet" href="https://groundworkcss.github.io/groundwork/css/groundwork-ie.css">
		<![endif]-->
	</head>
	<body>
		<header>
			<div class="row double-padded">
				<a href="/"><img src="images/clique-logo-horizontal.png"></a>
			</div>
		</header>
		<main>
			<div class="row">
				<div class="one half padded">
				<h2>Create Your Account Now!</h2>
				<form action="/users" method="post">
				<h2>Login to Your Account!</h2>
				<form class="code" action="/" method="post">
					<fieldset class="center">
						<input type="text" name="lEmail" placeholder="Enter Email">
						<input type="text" name="code" placeholder="Enter Code">
						<button>LOGIN</button>
					</fieldset>
				</form>
				</div>
			</div>
		</main>
		<footer>
      <div class="row"><small>	&copy; 2017 Clique. g64. All Rights Reserved.</small>
      </div>
    </footer>
    <script type="text/javascript" src="https://groundworkcss.github.io/groundwork/js/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://groundworkcss.github.io/groundwork/js/groundwork.all.js"></script>
	</body>
</html>
