body {
  background-color: #222 !important;
}

main {
  background-color: #222 !important;
  text-align: center;
  margin: 1% 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #0085b0;
  font-family: 'Open Sans', arial, sans-serif !important;
}

h1, h2, h3, h4 {
  font-weight: 700 !important;
}

h5.hometag {
  color: #FFF !important;
}

h5, h6 {
  font-weight: 400 !important;
}

p {
  color: #FFF;
  font-family: 'Open Sans', arial, sans-serif !important;
  font-size: 2vh;
}

#info p {
  font-size: 2vh;
}

a {
  text-decoration: none;
  color: #FFF;
}

ul, li {
  color: #FFF;
  list-style-type: none;
}

#logo {
  padding-left: 4.25vh;
}

#logout {
  text-align: right;
  padding-top: 7vh;
  padding-right: 7vh;
}

.editUser {
  display:none;
}

@media only screen and (max-width: 767px) {
  #logo {
    text-align: center !important;
    padding-left: 0;
  }
  #logout {
    text-align: center !important;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 2vh;
  }
}

fieldset {
  background-color: #999 !important;
  width: 51vh !important;
  border: #ccc !important;
}

form>fieldset>button {
  margin-top: 12px;
}

.quote {
  padding-top: 3vh;
  padding-bottom: 0;
}

.quote h4 {
  font-size: 2vh;
}
footer {
  color: #FFF;
  margin: 1% 0 0 0 !important;
  text-align: center;
}
